.Bar--container {
    width: auto;
    height: 65px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    object-fit: contain;
    align-items: flex-end;
    transform: translate(-50%, 0);
    transition: background 0.3s ease-out, color 0.3s ease-out;
    border-radius: 16px;
    box-shadow:  0 30px 60px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1000;
}
.Bar--dark{
    background: rgba(22, 22, 22, 1);
    border: 1px solid hsl(0 0% 100% / 0.077);
}

.Bar--light{
    background: #fefefe;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

.Bar {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    align-items: flex-end;
    transition: background 0.3s ease-out, color 0.3s ease-out;
}

.Bar--section {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:3px;
    padding-bottom:3px;

}

@media screen and (max-width: 720px) {
    .Bar{
        height: 120px;
        overflow: auto hidden;
        justify-content: left;
    }
    .Bar--container{
        width: calc(100% - 64px);
    }
}

@keyframes smoothIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
