.Icon {
    font-size: 20px;
    background-size: 200% 100%;
    border-radius: 11px;
    height: 46px;
    width: 46px;
    margin: 7px 5px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.Icon--container {
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 930px) {
    .Icon:hover{
        transform: scale(1.4) translateY(-15px) ;
        margin: 20px 15px 0px 15px;
    }
    .Icon:not(:hover){
        transform: scale(1) ;
    }
}


.icon2{
    justify-content: center;
    align-items: center;
    display: flex;
}

.Icon--seperate {
    margin: 40px;
}

.Icon--bounce {
    animation: clicked 0.7s ease-in-out;
    overflow: visible;
}

@keyframes clicked {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(5px);
    }
    70% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.Iconlight {
    background-image: linear-gradient( 45deg, hsl(0 0% 97.3%), hsl(0 0% 90.9%), hsl(0 0% 97.3%), hsl(0 0% 90.9%));
    transition: transform 0.2s, margin 200ms, translateY 0.25s, background-image 0.25s ease-out, color 0.25s ease-out;
}

.Icondark {
    background-image: linear-gradient( 45deg, hsl(0 0% 11.0%), hsl(0 0% 13.6%), hsl(0 0% 11.0%), hsl(0 0% 13.6%));
    transition: transform 0.2s, margin 200ms, translateY 0.25s, background-image 0.25s ease-out, color 0.25s ease-out;
}