html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth
}

html.light-theme {
  background-color: #ffffff; /* Màu nền cho theme sáng */
}

html.dark-theme {
  background-color: #161616; /* Màu nền cho theme tối */
}
a {
  color: inherit;
  text-decoration: none;
}
.blur-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vh; /* Chiều cao của phần cần mờ, điều chỉnh theo ý muốn */
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.436) 50.5%,
    rgba(0, 0, 0, 0.77) 70.5%,
    rgba(0, 0, 0, 1) 100%
  );
  backdrop-filter: blur(10px); /* Độ mờ, điều chỉnh theo ý muốn */
  z-index: 999; /* Đặt thấp hơn thanh điều hướng */
}
* {
  box-sizing: border-box;
}

*::visited {
  color: inherit;
  text-decoration: none;
}

.webkit{
  height: 100%;
}

.selectionlight ::selection {
  background-color: #ff9a9e;
  color: #ffffff;
}

.selectiondark ::selection {
  background-color: #ff9a9e;
  color: #161616;
}

.selectiondark{
  background-color: #161616;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.selectionlight{
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

hr{
  border:none;
  margin-top:1em;
  margin-bottom:1em;
  flex: 1 1 0%;
}

.hrlight{
  border-bottom: 2px dotted hsl(0 0% 88.7%);
}

.hrdark{
  border-bottom: 2px dotted hsl(0 0% 20.5%);
}

h1{
  font-size:40px !important;
  font-family: 'Playfair Display', serif;
  font-weight: 550;
  line-height: 48px !important;
}
.dark{
  color: #171717;
}
.light{
  color: #ededed
}
.essay{
  word-break: normal;
  white-space: pre-wrap
}