html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}
.shortcut {
  font-family: monospace; /* Font giống như trên bàn phím */
  font-size: 1em; /* Kích thước chữ */
  padding: 0.2em 0.4em; /* Padding để tạo khoảng cách */
  border: 1px solid #ccc; /* Đường viền */
  border-radius: 3px; /* Bo góc */
  background-color: #f5f5f5; /* Màu nền */
  color: #333; /* Màu chữ */
  display: inline-block; /* Hiển thị inline */
  margin: 0 0.2em;
}

html.light-theme {
  background-color: #ffffff; /* Màu nền cho theme sáng */
}


html.dark-theme {
  background-color: #161616; /* Màu nền cho theme tối */
}
a {
  color: #0070f3 !important;
  font-weight: 500;
  text-decoration: none !important;
  transition: color 0.25s ease-out;
}
.blur-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px; /* Chiều cao của phần cần mờ, điều chỉnh theo ý muốn */
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.436) 50.5%,
    rgba(0, 0, 0, 0.77) 70.5%,
    rgba(0, 0, 0, 1) 100%
  );
  backdrop-filter: blur(10px); /* Độ mờ, điều chỉnh theo ý muốn */
  z-index: 998; /* Đặt thấp hơn thanh điều hướng */
}
* {
  box-sizing: border-box;
}

.cover{
  width: 100%;
  aspect-ratio: 9/6 auto;
  height: 0%;
  min-height: 100vh;
}

*::visited {
  color: inherit;
  text-decoration: none;
}

.selection--light ::selection {
  background-color: #ff9a9e;
  color: #ffffff;
}

.selection--dark ::selection {
  background-color: #ff9a9e;
  color: #161616;
}

.selection--light{
  color: #6f6f6f;
}
.selection--dark{
  color: #A0A0A0;
}

hr{
  border:none;
  margin-top:1em;
  margin-bottom:1em;
  flex: 1 1 0%;
  width: 100%; /* Đảm bảo chiếm đủ chiều rộng */
  flex-shrink: 0; /* Ngăn việc co lại */
  transition: border-bottom 0.25s ease-out; /* Hiệu ứng chuyển đổi */
}

.hrlight{
  border-bottom: 2px dotted hsl(0 0% 88.7%);
}

.hrdark{
  border-bottom: 2px dotted hsl(0 0% 20.5%);
}

h1{
  font-size:40px !important;
  font-family: 'Playfair Display', serif;
  font-weight: 550;
  line-height: 48px !important;
}

.dark{
  color: #171717;
  transition: color 0.25s ease-out;
}

.light{
  color: #ededed;
  transition: color 0.25s ease-out;
}

.essay{
  word-break: normal;
  white-space: pre-wrap
}

iframe {
  width: 100%;
  border: none;
  border-radius: 10px;
}

.music--cover{
  width: 30%;
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.titleGroup{
  text-align: center;
  margin-bottom: 2em;
}

.titleName{
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.gallery{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.photography{
  width: 100%;
  display: grid;
  gap: 0.2em;
  margin-top: 2em;
  grid-template-columns: repeat(3, 1fr);
}

.photo{
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.photo:hover{
  filter: brightness(0.85);
  transition: ease-in-out 0.25s;
}
.photo:not(:hover){
  filter: brightness(1);
  transition: ease-in-out 0.25s;
}

.behancePhoto{
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
}

.writingPhoto{
  position: relative;
  aspect-ratio: 16/7;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1.5em;
  border-radius: 12px;
}
.photoPost{
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1em;
  border-radius: 10px;
}

.embedPhoto{
  position: relative;
  aspect-ratio: 4/3;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1.5em;
  margin-top: 1em;
  border-radius: 12px;
}

.embed{
  margin-top: 2em;
  margin-bottom: 2em;
}

.writePhoto{
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1em;
  border-radius: 12px;
}

.avatar{
  width: 230px;
  height: 230px;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 1em;
}

.resume{
  position: relative;
  aspect-ratio: 210/297;
  overflow: hidden;
  margin-bottom: 1em;
  border-radius: 10px;
}

.snake{
  position: relative;
  aspect-ratio: 880/192;
  overflow: hidden;
  transition: all 0.25s ease-out;
}

.snake--quote{
  font-style: italic;
  margin: auto;
  padding-left: 1em;
  border-left: 3px solid #ccc;
  word-break: break-word;
  width: 95%;
}

.about--quote{
  font-style: italic;
  margin: auto;
  padding-left: 1em;
  border-left: 3px solid #ccc;
  word-break: break-word;
  width: 80%;
}
html, input, textarea, button, p, div{
  transition: all 0.25s ease-out !important; 
}
.about--content{
  font-family: "Palatino", serif;
  font-size: 1.2em;
}
.writingBody{
  margin-top: 1.5em;
}
.writingBody p{
  margin-bottom: 1em;
  line-height: 1.5;
  font-size: 1.2em;
  font-family: "Palatino", serif;
}

.keyboard{
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
  margin-right:6px;
}
.kb--light{
  border: 1px solid #818181;
  color: #818181;
}
.kb--dark{
  border: 1px solid rgb(160, 160, 160);
}

.list{
  word-break: break-word;
}

.tooltip {
  animation: fadeIn 0.5s;
  transition: all 0.25s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.skeleton--light {
  position: relative;
  background: #e8e8e8;
  overflow: hidden; 
}

.skeleton--light:after {
  content: ''; 
  position: absolute;
  top: 0;
  left: -100px; 
  width: 100%; 
  height: 100%; 
  background: linear-gradient(to right, transparent, #ffffff8f, transparent);
  animation: reflect 1500ms ease-out infinite;
}

.skeleton--dark {
  position: relative; 
  background: #222222;
  overflow: hidden; 
}

.skeleton--dark:after {
  content: '';
  position: absolute;
  top: 0;
  left: -100px; 
  width: 100%; 
  height: 100%; 
  background: linear-gradient(to right, transparent, #00000011, transparent);
  animation: reflect 1500ms ease-out infinite;
}

@keyframes reflect {
  to {
    left: calc(100% + 10px); 
  }
}

.dog{
  width: 100%;
  height: 300px;
  margin-top:5em;
}

.music--slider{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 10px;
  height: 0.3rem;
  
}

.music--slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #cacaca;
  
}
.slider--dark{
  background: #e9e9e9;
  /* change color of range of slide */
}
.slider--light{
  background: rgba(0, 0, 0, 0.1);
}

.play--true{
  border-radius: 50%;
  animation: rotate 5s linear infinite;
  transition: all 3s ease-out;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 650px) {
  .gallery{
    grid-template-columns: repeat(1, 1fr);
  }
  .writePhoto{
    height: 200px;
  }
  .dog{
    width: 100%;
    height: 300px;
  }
  .music--cover{
    width: 100%;
  }
}