html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
.shortcut {
  font-family: monospace; /* Font giống như trên bàn phím */
  font-size: 1em; /* Kích thước chữ */
  padding: 0.2em 0.4em; /* Padding để tạo khoảng cách */
  border: 1px solid #ccc; /* Đường viền */
  border-radius: 3px; /* Bo góc */
  background-color: #f5f5f5; /* Màu nền */
  color: #333; /* Màu chữ */
  display: inline-block; /* Hiển thị inline */
  margin: 0 0.2em; /* Khoảng cách giữa các phím */
}

html.light-theme {
  background-color: #ffffff; /* Màu nền cho theme sáng */
}


html.dark-theme {
  background-color: #161616; /* Màu nền cho theme tối */
}
a {
  color: inherit;
  text-decoration: none;
}
.blur-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px; /* Chiều cao của phần cần mờ, điều chỉnh theo ý muốn */
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.436) 50.5%,
    rgba(0, 0, 0, 0.77) 70.5%,
    rgba(0, 0, 0, 1) 100%
  );
  backdrop-filter: blur(10px); /* Độ mờ, điều chỉnh theo ý muốn */
  z-index: 999; /* Đặt thấp hơn thanh điều hướng */
}
* {
  box-sizing: border-box;
}

.cover{
  width: 100%;
  aspect-ratio: 9/6 auto;
  height: 0%;
  min-height: 100vh;
}

*::visited {
  color: inherit;
  text-decoration: none;
}

.selectionlight ::selection {
  background-color: #ff9a9e;
  color: #ffffff;
}

.selectiondark ::selection {
  background-color: #ff9a9e;
  color: #161616;
}

hr{
  border:none;
  margin-top:1em;
  margin-bottom:1em;
  flex: 1 1 0%;
  width: 100%; /* Đảm bảo chiếm đủ chiều rộng */
  flex-shrink: 0; /* Ngăn việc co lại */
  
}

.hrlight{
  border-bottom: 2px dotted hsl(0 0% 88.7%);
}

.hrdark{
  border-bottom: 2px dotted hsl(0 0% 20.5%);
}

h1{
  font-size:40px !important;
  font-family: 'Playfair Display', serif;
  font-weight: 550;
  line-height: 48px !important;
}
.dark{
  color: #171717;
}
.light{
  color: #ededed
}
.essay{
  word-break: normal;
  white-space: pre-wrap
}
iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 210/297;
  border: 0px solid #000; /* Đường viền màu đen, độ dày 2px */
  border-radius: 8px; /* Bo tròn góc nếu muốn */
}

.titleGroup{
  text-align: center;
  margin-bottom: 2em;
}
.titleName{
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.gallery{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 650px) {
  .gallery{
    grid-template-columns: repeat(1, 1fr);
  }
}

.photography{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.photo{
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  margin: 0.1em;
}

.photo:hover{
  filter: brightness(0.85);
  transition: ease-in-out 0.3s;
}
.photo:not(:hover){
  filter: brightness(1);
  transition: ease-in-out 0.3s;
}

.behancePhoto{
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: pointer;
}

.writingPhoto{
  position: relative;
  aspect-ratio: 16/7;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1em;
}